@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 22px;
  font-size: 16px;
  color: #f3f3f3;
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #131313;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.bg-gif {
  height: 100%;
  width: 100%;
  background: url("../img/bg/bg.gif");
  opacity: 0.05;
  position: fixed;
  left: 0;
  top: 0;
}

.container {
  max-width: 1570px;
  padding: 0px 15px;
  margin: 0 auto;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  position: relative;
  z-index: 2;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 45px 0px 40px 0px;
  border-bottom: 1px solid #fff;
}
.header__logo {
  margin: 0px 0px 0px 60px;
}
.header__title {
  font-family: "DrukWideCyWebBold";
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  color: #f3f3f3;
  padding: 0px 31px 0px 33px;
}

.main__container {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 0px;
}
.column__block {
  flex: 1 1 33.333%;
  border: 1px solid #ffffff;
  padding: 67px 75px 67px 50px;
}

.title__block {
  font-family: "DrukWideCyWebBold";
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #f3f3f3;
  padding: 0px 0px 13px 0px;
}
.title__block-h {
  display: none;
}

.block__info {
  display: flex;
}
.block__column-1 {
  transition: all 0.3s ease;
  position: relative;
}
.block__column-2 {
  transition: all 0.3s ease;
  position: relative;
  padding: 67px 75px 67px 45px;
}
.block__column-3 {
  transition: all 0.3s ease;
  position: relative;
}
.block__title-1 {
  background: url("../img/icons/injection_b_r.svg") 125px 30px no-repeat;
}
.block__title-2 {
  padding: 0px 0px 13px 10px;
  background: url("../img/icons/injection_t_l.svg") 2px 0px no-repeat;
}
.block__title-3 {
  background: url("../img/icons/injection_t_r.svg") 166px 0px no-repeat;
}
.block__text-2 {
  padding: 0px 0px 0px 10px;
}

.benefits__block-info {
  display: flex;
}
.benefits__block {
  display: flex;
  flex: 1 1 33.333%;
}
.benefits__title {
  font-family: "DrukWideCyWebBold";
  font-size: 20px;
  line-height: 24px;
  color: #f3f3f3;
  padding: 0px 0px 20px 0px;
}
.text__title {
  font-family: "DrukWideCyWebBold";
  font-size: 36px;
  line-height: 44px;
  color: #f3f3f3;
  padding: 0px 0px 5px 100px;
}

.text__title-block {
  padding: 65px 75px 65px 0px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
}

.text__title-block img {
  margin: 0px 0px 0px 75px;
}

.text__title::before {
  content: "Случайный проект: ";
}

.slider__container {
  display: flex;
  padding: 0;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  overflow: hidden;
}

.slider__text {
  display: flex;
  flex: 1 1 33.333%;
  padding: 92px 75px;
  font-family: "DrukWideCyWebBold";
  font-size: 20px;
  line-height: 140%;
  color: #f3f3f3;
  border-right: 0px;
}

.main__slider {
  display: flex;
  flex: 1 1 60.666%;
  overflow: hidden;
}

.main__slider img {
  filter: grayscale(1);
  transition: all 0.6s ease;
}

.main__slider:hover img {
  filter: grayscale(0);
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.ticker {
  font-family: "DrukWideCyWebBold";
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
  color: #f3f3f3;
  padding: 45px 150px 45px;
  white-space: nowrap;
  padding-left: 100%;
  -webkit-animation: scroll 30s infinite linear;
          animation: scroll 30s infinite linear;
}

.marquee-wrapper {
  background-color: #e22020;
  border: 1px solid #ffffff;
  display: flex;
  width: 1570px;
  margin: 0 auto;
  overflow: hidden;
}

@-webkit-keyframes scroll {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes scroll {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.footer {
  width: 100%;
  position: relative;
}
.footer__block {
  display: flex;
}
.footer__column {
  padding: 119px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.footer .footer__column::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 114px;
  top: 0px;
}
.footer__container {
  padding: 0;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.column__right {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.column__rate {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0px 25px 58px 164px;
}
.column__rate::after {
  content: "ТАРИФЫ";
  font-family: "DrukWideCyWebBold";
  font-size: 36px;
  line-height: 44px;
  color: #f3f3f3;
  transform: rotate(-90deg);
  height: 120px;
  position: absolute;
  left: -30px;
  top: 65px;
}
.column__rate::before {
  content: url("../img/icons/injection_t_r.svg");
  position: absolute;
  left: 69px;
  top: -11px;
}
.column__title {
  display: none;
}
.column__subtitle {
  font-family: "DrukWideCyWebBold";
  font-size: 20px;
  line-height: 140%;
  color: #f3f3f3;
  padding: 0px 0px 29px 0px;
}
.column__text {
  padding: 0px 0px 58px 0px;
  display: flex;
}

.subtitle__column {
  flex: 0 1 319px;
  font-size: 20px;
}

.footer__column-1 {
  padding: 79px 30px 0px 30px;
}

.footer__column-row {
  background-color: #f3f3f3;
  padding: 40px 52px 40px;
  position: relative;
}

.footer__column-row::before {
  content: url("../img/icons/injection_h_b_r.svg");
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.footer__column-row::after {
  content: url("../img/icons/injection_h_t_l.svg");
  position: absolute;
  top: 15px;
  left: 15px;
}

.subtitle__column-1 {
  color: #1c1c1c;
}

.column__text-1 {
  color: #1c1c1c;
  padding: 0px 0px 19px 0px;
}

.button {
  background: #1c1c1c;
  text-align: center;
}

.btn {
  font-family: "DrukWideCyWebBold";
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  display: inline-block;
  color: #f3f3f3;
  padding: 15px 30px;
}

.contact__container {
  padding: 0;
  display: flex;
}
.contact__column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 33.333%;
}
.contact__column:nth-child(3) {
  flex-direction: row;
}
.contact__logo {
  width: 135px;
  height: 123px;
  padding: 0px 0px 10px 0px;
}
.contact__copy {
  letter-spacing: -0.01em;
  color: #c5c5c5;
}
.contact__copy:hover {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
.contact__title {
  font-family: "DrukWideCyWebBold";
  font-size: 36px;
  line-height: 44px;
  padding: 0px 0px 13px 10px;
  background: url("../img/icons/injection_t_l.svg") top left no-repeat;
}
.contact__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__item {
  letter-spacing: -0.01em;
  display: inline-block;
  color: #c5c5c5;
  padding: 0px 0px 13px 0px;
}
.contact__item:hover {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
.contact__icon {
  margin: 0px 21px 0px 0px;
}
.contact__icon :last-child {
  margin: 0;
}

@media screen and (max-width: 1570px) {
  .container {
    max-width: 1200px;
  }

  .block__title-3 {
    background: url(../img/icons/injection_t_r.svg) 127px 0px no-repeat;
  }

  .block__title-2 {
    background: url(../img/icons/injection_t_l.svg) 4px 0px no-repeat;
  }

  .block__title-1 {
    background: url(../img/icons/injection_b_r.svg) 94px 21px no-repeat;
  }

  .column__block {
    padding: 50px 30px;
  }

  .header__title {
    font-size: 42px;
    line-height: 51px;
    padding: 0px 35px 0px 25px;
  }

  .title__block {
    font-size: 28px;
    line-height: 34px;
    padding: 0px 0px 10px 0px;
  }

  .block__title-2 {
    padding: 0px 0px 10px 10px;
  }

  .text__block {
    font-size: 14px;
    line-height: 19px;
  }

  .benefits__title {
    width: 273px;
    font-size: 15px;
    line-height: 19px;
    padding: 0px 0px 16px 0px;
  }

  .text__title-block img {
    margin: 0px 0px 0px 30px;
  }

  .text__title {
    font-family: "DrukWideCyWebBold";
    font-size: 28px;
    line-height: 34px;
    color: #f3f3f3;
    padding: 0px 0px 0px 58px;
  }

  .text__title-block {
    padding: 19px 30px 38px 0px;
    border: 1 px solid #ffffff;
    display: flex;
    align-items: center;
  }

  .slider__text {
    display: flex;
    padding: 64px 30px;
    font-size: 16px;
    line-height: 140%;
  }

  .ticker {
    font-size: 50px;
    line-height: 61px;
    padding: 34px 100px;
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translate(40%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  @keyframes scroll {
    0% {
      transform: translate(40%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  .container {
    width: 100%;
  }

  .main__slider {
    height: 336px;
    width: 1014px;
  }

  .slider__container {
    overflow: hidden;
    justify-content: space-between;
  }

  .slick-slide {
    width: 100%;
  }

  .column__rate::after {
    font-size: 28px;
    line-height: 34px;
    height: 120px;
    left: 0px;
    top: 30px;
  }

  .column__rate::before {
    left: 60px;
    top: -17px;
  }

  .column__subtitle {
    font-size: 16px;
    line-height: 140%;
    padding: 0px 0px 20px 0px;
  }

  .column__right {
    display: block;
  }

  .footer .footer__column {
    padding: 79px 0px 0px 0px;
  }

  .footer .footer__column::before {
    height: 100%;
    top: 0px;
    left: 95px;
  }

  .column__rate {
    padding: 0px 0px 0px 118px;
  }

  .column__text {
    padding: 0;
    display: flex;
    flex: 1 0 auto;
  }

  .marquee-wrapper {
    width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .block__column-1:hover,
.block__column-2:hover,
.block__column-3:hover {
    background-color: #fff;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block__column-1:hover .block__title-1,
.block__column-2:hover .block__title-2,
.block__column-3:hover .block__title-3 {
    display: none;
  }

  .block__column-1:hover .block__text,
.block__column-2:hover .block__text-2,
.block__column-3:hover .block__text {
    display: none;
  }

  .block__column-1:hover .title__block-h,
.block__column-2:hover .title__block-h,
.block__column-3:hover .title__block-h {
    font-family: "DrukWideCyWebBold";
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    display: block;
    color: #131313;
    flex: 1 1 100%;
  }

  .block__column-1:hover::before,
.block__column-2:hover::before,
.block__column-3:hover::before,
.block__column-1:hover::after,
.block__column-2:hover::after,
.block__column-3:hover::after {
    content: url("../img/icons/injection_h_b_r.svg");
    position: absolute;
  }

  .block__column-1:hover::before,
.block__column-2:hover::before,
.block__column-3:hover::before {
    content: url("../img/icons/injection_h_t_l.svg");
    top: 15px;
    left: 15px;
  }

  .block__column-1:hover::after,
.block__column-2:hover::after,
.block__column-3:hover::after {
    bottom: 15px;
    right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0px 20px;
    border: none;
  }

  .header {
    padding: 36px 20px 0px 20px;
  }

  .header__container {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 26px 0px;
    border-bottom: 1px solid #fff;
  }

  .header__logo img {
    width: 45px;
    height: 50px;
  }

  .header__logo {
    margin: 0px;
  }

  .header__title {
    font-size: 16px;
    line-height: 22px;
    padding: 0px 0px 0px 17px;
  }

  .title__block {
    font-size: 28px;
    line-height: 34px;
  }

  .block__column-2 .title__block:nth-child(1) {
    padding: 0px 0px 10px 9px;
  }

  .benefits__title {
    font-size: 16px;
    line-height: 19px;
    max-width: 242px;
    flex: 1 1 auto;
  }

  .text__title-block img {
    width: 100%;
    height: 64px;
  }

  .main__slider {
    flex: 1 1 100%;
  }

  .ticker {
    font-size: 25px;
    line-height: 31px;
    padding: 16px 0px 16px;
  }

  .marquee-wrapper {
    width: 100%;
    background-size: 100%;
    border: none;
    margin: 50px auto 50px;
    transform: rotate(-2.44deg);
  }

  @-webkit-keyframes scroll {
    0% {
      transform: translate(40%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  @keyframes scroll {
    0% {
      transform: translate(40%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  .footer .footer__column::before {
    display: none;
  }

  .block__info {
    flex-wrap: wrap;
  }

  .text__title-block {
    flex-wrap: wrap;
  }

  .slider__container {
    flex-wrap: wrap;
  }

  .footer__block {
    flex-wrap: wrap;
  }

  .block__title-3 {
    background: url(../img/icons/injection_t_r.svg) 128px 0px no-repeat;
  }

  .block__title-2 {
    background: url(../img/icons/injection_t_l.svg) 3px 0px no-repeat;
  }

  .block__title-1 {
    background: url(../img/icons/injection_b_r.svg) 95px 22px no-repeat;
  }

  .column__block {
    flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
    padding: 15px 15px;
  }

  .column__block:last-child {
    margin: 0px 0px 50px 0px;
  }

  .column__block br {
    display: none;
  }

  .text__title-block {
    border: none;
    padding: 0px;
  }

  .benefits__block-column {
    border: none;
    border-left: 1px solid #929292;
  }

  .slider__text {
    background-color: #f3f3f3;
    color: #1c1c1c;
    position: relative;
    padding: 32px 20px;
    margin: 0;
    order: 2;
  }

  .slider__text::before {
    content: url("../img/icons/injection_h_b_r.svg");
    position: absolute;
    right: 7px;
    bottom: 7px;
  }

  .slider__text::after {
    content: url("../img/icons/injection_h_t_l.svg");
    position: absolute;
    top: 7px;
    left: 7px;
  }

  .text__title-block img {
    margin: 0px 0px 58px 0px;
  }

  .text__title {
    padding: 0px 0px 50px 0px;
  }

  .column__rate::after {
    display: none;
  }

  .column__rate::before {
    left: 165px;
    top: 0px;
  }

  .column__title {
    display: block;
    font-family: "DrukWideCyWebBold";
    font-size: 28px;
    line-height: 34px;
    color: #f3f3f3;
    padding: 0px 0px 35px 0px;
  }

  .footer__block .column__block:first-child {
    order: 2;
    padding: 0;
    margin: 0px 0px 50px 0px;
  }

  .footer__column {
    border: none;
  }

  .footer__column-1 {
    margin: 0px;
    border: none;
    padding: 0px 0px 55px 0px;
    order: 3;
  }

  .column__rate {
    padding: 0;
  }

  .subtitle__column {
    background-color: #f3f3f3;
    color: #1c1c1c;
    position: relative;
    padding: 32px 20px;
    flex: 0 1 auto;
    order: 2;
    width: 100%;
    justify-content: center;
  }

  .subtitle__column::before {
    content: url("../img/icons/injection_h_b_r.svg");
    position: absolute;
    right: 7px;
    bottom: 7px;
  }

  .subtitle__column::after {
    content: url("../img/icons/injection_h_t_l.svg");
    position: absolute;
    top: 7px;
    left: 7px;
  }

  .footer__column-row {
    background-color: #f3f3f3;
    padding: 33px 28px;
    position: relative;
  }

  .btn {
    padding: 15px 20px;
  }

  .footer .footer__column {
    padding: 0;
  }

  .main__slider img {
    width: 24%;
  }

  .main__slider img {
    filter: grayscale(0);
  }
}
.contact__container {
  flex-wrap: wrap;
}
.contact__column {
  flex: 1 1 100%;
  border: none;
}
.contact__column:nth-child(3) {
  flex-direction: row;
}
.contact__logo {
  width: 135px;
  height: 123px;
  padding: 0px 0px 10px 0px;
}
.contact__copy {
  letter-spacing: -0.01em;
  color: #c5c5c5;
}
.contact__copy:hover {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
.contact__title {
  font-family: "DrukWideCyWebBold";
  font-size: 36px;
  line-height: 44px;
  padding: 0px 0px 13px 10px;
  background: url("../img/icons/injection_t_l.svg") top left no-repeat;
}
.contact__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__item {
  letter-spacing: -0.01em;
  display: inline-block;
  color: #c5c5c5;
  padding: 0px 0px 13px 0px;
}
.contact__item:hover {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
.contact__icon {
  margin: 0px 21px 0px 0px;
}
.contact__icon :last-child {
  margin: 0;
}

@font-face {
  font-family: "DrukWideCyWebBold";
  src: url("../fonts/DrukWideCyWebBoldRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}